mule-esb/src/main/mule/mule-esb.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd  http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd  http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <http:listener-config name="mule_listener_config">
    <http:listener-connection host="127.0.0.1" port="6364" protocol="HTTPS">
      <tls:context>
        <tls:trust-store insecure="true" password="password" path="soa.keystore" type="PKCS12"></tls:trust-store>
        <tls:key-store alias="soa" keyPassword="password" password="password" path="soa.keystore" type="PKCS12"></tls:key-store>
      </tls:context>
    </http:listener-connection>
  </http:listener-config>
  <http:request-config name="space_marine_request_config">
    <http:request-connection host="127.0.0.1" port="8443" protocol="HTTPS">
      <tls:context>
        <tls:trust-store insecure="true" password="password" path="soa.keystore" type="PKCS12"></tls:trust-store>
        <tls:key-store alias="soa" keyPassword="password" password="password" path="soa.keystore" type="PKCS12"></tls:key-store>
      </tls:context>
    </http:request-connection>
  </http:request-config>
  <wsc:config name="roma-config">
    <wsc:connection address="http://localhost:27880/StarshipUnloadWebService" port="StarshipUnloadWebServiceImplPort" service="StarshipUnloadWebService" wsdlLocation="/Users/maksgirya/stud/itmo/4 cource/soa/starship-backend/mule-esb/src/main/resources/unload.wsdl"></wsc:connection>
  </wsc:config>
  <flow name="unloadAllStarshipListener">
    <http:listener config-ref="mule_listener_config" doc:id="nfgpju" doc:name="Listener" path="space-marines-api-0.0.1-SNAPSHOT/api/v1/starship/{starshipId}/unload-all">
      <http:response statusCode="200"></http:response>
    </http:listener>
    <logger doc:id="huvszd" doc:name="Logger" level="INFO" message="#[attributes.uriParams]"></logger>
    <http:request config-ref="space_marine_request_config" doc:id="uecqti" doc:name="Request" method="POST" outputMimeType="application/xml" path="space-marines-api-0.0.1-SNAPSHOT/api/v1/starship/{starshipId}/unload-all">
      <http:uri-params>
        <![CDATA[#[attributes.uriParams]]]>
      </http:uri-params>
    </http:request>
    <logger doc:id="wortck" doc:name="Logger" level="INFO" message="#[attributes]"></logger>
  </flow>
  <flow name="unloadStarhipByIdListener">
    <http:listener config-ref="mule_listener_config" doc:id="shfhec" doc:name="Listener" path="space-marines-api-0.0.1-SNAPSHOT/api/v1/starship/{starshipId}/unload/{spaceMarineId}"></http:listener>
    <logger doc:id="dapvvy" doc:name="Logger" message="#[attributes.uriParams]"></logger>
    <http:request config-ref="space_marine_request_config" doc:id="rpgtoq" doc:name="Request" method="POST" outputMimeType="application/xml" path="space-marines-api-0.0.1-SNAPSHOT/api/v1/starship/{starshipId}/unload/{spaceMarineId}">
      <http:uri-params>
        <![CDATA[#[attributes.uriParams]]]>
      </http:uri-params>
    </http:request>
    <logger doc:id="nztxip" doc:name="Logger" message="#[attributes]"></logger>
  </flow>
  <flow name="unloadSpaceMarine-http2soap">
    <http:listener config-ref="mule_listener_config" doc:id="gnzebk" doc:name="Listener" path="{starshipId}/unload/{spaceMarineId}">
      <http:response statusCode="200">
    <http:headers ><![CDATA[#[output application/java
        ---
        {
        "Access-Control-Allow-Origin" : "*",
        "Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
        "Access-Control-Allow-Headers" : "*",
        "Access-Control-Allow-Credentials" : "true"
        }]]]></http:headers>
          </http:response>
    </http:listener>
    <logger doc:id="vngtdl" doc:name="Logger" message="#[attributes.uriParams]"></logger>
    <ee:transform doc:id="fbdqcy" doc:name="Transform">
      <ee:message>
        <ee:set-payload>
          <![CDATA[%dw 2.0 output application/xml ns ns0 http://tmp.unloadmanager.starship.com/ --- { 	ns0#unloadSpaceMarine: { 		starshipId: attributes.uriParams.starshipId, 	spaceMarineId: attributes.uriParams.spaceMarineId,  	} }]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>
    <wsc:consume config-ref="roma-config" doc:id="avgjkg" doc:name="Consume" operation="unloadSpaceMarine"></wsc:consume>
    <ee:transform doc:id="zjlecy" doc:name="Transform">
      <ee:message>
        <ee:set-payload>
          <![CDATA[%dw 2.0 ns ns0 http://tmp.unloadmanager.starship.com/ output application/json --- payload.body.ns0#unloadSpaceMarineResponse.return]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="unloadAllSpaceMarines-http2soap">
        <http:listener path="{starshipId}/unload-all" config-ref="mule_listener_config" doc:name="Listener" doc:id="duauhn">
          <http:response statusCode="200">
    <http:headers ><![CDATA[#[output application/java
        ---
        {
        "Access-Control-Allow-Origin" : "*",
        "Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
        "Access-Control-Allow-Headers" : "*",
        "Access-Control-Allow-Credentials" : "true"
        }]]]></http:headers>
          </http:response>
    </http:listener>
        <logger doc:name="Logger" doc:id="keglwr" message="#[attributes.uriParams]"/>
        <ee:transform doc:name="Transform" doc:id="jnnrmo" >
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0 output application/xml ns ns0 http://tmp.unloadmanager.starship.com/ --- { 	ns0#unloadAllSpaceMarines: { 		starshipId: attributes.uriParams.starshipId 	} }]]>
              </ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume operation="unloadAllSpaceMarines" config-ref="roma-config" doc:name="Consume" doc:id="tmwcqk" />
        <ee:transform doc:name="Transform" doc:id="rpkjea" >
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0 ns ns0 http://tmp.unloadmanager.starship.com/ output application/json --- payload.body.ns0#unloadAllSpaceMarinesResponse.return]]>
              </ee:set-payload>
            </ee:message>
        </ee:transform>
  </flow>
</mule>
